.nfs*
*.pyc
.dumbo.json
.DS_Store
.*.swp
*.pth
**/__pycache__/**
.ipynb_checkpoints/
datasets/data/
experiment-*
*.tmp
*.pkl
**/.mypy_cache/*
.mypy_cache/*
not_tracked_dir/
.vscode

detr/
datapreprocessing/Yolo-to-COCO-format-converter/data_ver1_coco
datapreprocessing/Yolo-to-COCO-format-converter/data_yolov8_ver1
datapreprocessing/Yolo-to-COCO-format-converter/testdata
yolov5s_result/
DETRresult/detr_test_log.txt


